body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.feed{
  
  padding: 20px;

}
.feed-text
{
  white-space: pre-line;
}
.feed-count
{
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
.feed-user
{
  margin-left: 20px
}
.feed-likes
{
  float:right;
  margin-right: 20px;

}
.feed-header
{
  background:white;
  color:blue;
  font-size:18px;
  font-weight:bold;
  margin-bottom: 10px;
}
.feed-days
{
  float:right;
  margin-right: 20px;
  font-size:14px;
  color:lightgray;
  line-height: 28px;
  font-weight:normal;
}
.feed-like
{
  width:23px;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 10px;
}
.feed-content
{
  /*width:100%;*/
  background: #e8e2e2;
  padding: 20px;
}

